body {
    background-color: #000000;
    color: #ffffff;
    font-family: 'Courier New', Courier, monospace;
    font-size: 12px;
    margin: 0;
    padding: 0;
    text-align: center;
}

h1 {
    color: cyan;
}

h1.error {
    color: red;
}

input[type="button"], input[type="submit"], button {
    background-color: #4e0000;
    border: 1px solid #ffffff;
    color: #ffffff;
    cursor: pointer;
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    padding: 5px 5px;
}

label {
    display: block;
    font-weight: bold;
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: large;
}

input[type="text"] {
    background-color: #535353;
    border: 1px solid #ffffff;
    color: #ffffff;
    font-family: 'Courier New', Courier, monospace;
    font-size: 18px;
    padding: 2px 5px;
}

input[type="text"]:focus {
    background-color: #ffffff;
    border: 1px solid #060057;
    color: #000000;
    font-family: 'Courier New', Courier, monospace;
    font-size: 18px;
    padding: 2px 5px;
}

input[type="file"] {
    background-color: #535353;
    border: 1px solid #ffffff;
    color: #ffffff;
    font-family: 'Courier New', Courier, monospace;
    font-size: 12px;
    padding: 5px 5px;
}