body {
    background-color: #000000;
    color: #ffffff;
    font-family: 'Courier New', Courier, monospace;
    font-size: 12px;
    margin: 0;
    padding: 0;
    text-align: center;
}

h1 {
    color: cyan;
}

h1.error {
    color: red;
}

input[type="button"], input[type="submit"], button {
    background-color: #4e0000;
    border: 1px solid #ffffff;
    color: #ffffff;
    cursor: pointer;
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    padding: 5px 5px;
}

label {
    display: block;
    font-weight: bold;
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: large;
}

input[type="text"] {
    background-color: #535353;
    border: 1px solid #ffffff;
    color: #ffffff;
    font-family: 'Courier New', Courier, monospace;
    font-size: 18px;
    padding: 2px 5px;
    width: 400px;
}

input[type="text"]:focus {
    background-color: #ffffff;
    border: 1px solid #060057;
    color: #000000;
    font-family: 'Courier New', Courier, monospace;
    font-size: 18px;
    padding: 2px 5px;
}

.slider {
    -webkit-appearance: none;
    width: 370px;
    padding: 2px 2px;
    background: #535353;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider:hover {
    opacity: 1;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    background: cornflowerblue;
    cursor: pointer;
}
.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    background: cornflowerblue;
    cursor: pointer;
}
.slidercontainer {
    display: block;
    margin-top: 5px;
    margin-bottom: 5px;
}
span.sliderlabel {
    display: inline-block;
    width: 30px;
    text-align: right;
    position: relative;
    top: -7px;
    margin-right: 5px;
    margin: 5px;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    color: cyan;
    height : 22px;
    
}