<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>AC</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='wolfebot.ico') }} " type="image/x-icon">
</head>
<body>
    <h1>Add A Command!</h1>
    <form action="/ac/add" method="post">
        <label id="ar" for="command">Command:</label>
        <input type="text" name="command" id="command"><br>
        <label for="response">Response: </label>
        <input type="text" name="response" id="response"><br>
        <label for="file">File:  </label>
        <input type="file" name="file" id="file"><br><br>
        <input type="submit" value="Add">
    </form>
    <br>
    <H1>Delete A Command!</H1>
    <form action="/ac/delete" method="post">
        <label for="command">Command:</label>
        <input type="text" name="command" id="command"><br><br>
        <input type="submit" value="Delete">
    </form>
    <br>
    <form action="/redir">
        <input type="submit" value="Back">
</html>